.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

html{
    scroll-behavior: smooth ;
}

.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 20px;

}
.nav-links a:hover {
    color: #ff9900;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: #000000;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
    }
    #home{
        background-blend-mode: color;
        background-color: black;
        background-attachment: fixed;
    }
    .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 1s forwards;
}

.loader::before {
    content: '';
    border: 8px solid #fff;
    border-top: 8px solid #ff9900;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.content {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.content.loaded {
    opacity: 1;
}


.card-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 250px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.card-text {
    color: #666;
    margin: 10px 0;
}

.card-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.card-btn:hover {
    background: #0056b3;
}